version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: saas_postgres
    restart: always
    environment:
      POSTGRES_DB: saas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: satya890#
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: saas_backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: saas
      DB_USER: postgres
      DB_PASSWORD: satya890#
      FRONTEND_URL: http://frontend:3000
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: saas_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pg_data:
