services:
  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_DB: saas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: satya890#
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: saas
      DB_USER: postgres
      DB_PASSWORD: satya890#
      JWT_SECRET: c31e0f85ab1739a967f3ffc0f054799035c23913c1bf8e841b40350be8f6de04
      FRONTEND_URL: http://frontend:3000
      NODE_ENV: production
      PORT: 5000
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:5000/api/health', r => process.exit(r.statusCode === 200 ? 0 : 1))"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      VITE_API_URL: http://backend:5000/api
    depends_on:
      backend:
        condition: service_healthy

volumes:
  db_data:
